.top {
background-color: #49af2f;
width: 100%;
height: 30%;
border-bottom-width: 2px;
border-bottom-color: black;
border-bottom-style: solid;
}
#search { 
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-style: solid;
  border-width: 2px;
}#submit { 
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;  border-style: solid;
  border-width: 2px;
}
#searchBox { 
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  width: 30%;  padding: 5px;
  display: flex;  justify-content: center;
  align-items: center;
  background-color: white;}
#comic {
border-style: solid;
border-radius: 5px;
border-width: 2px;
width: 50%;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}
a {
  color: black;
}
a:visited {
  color: black;
}
.centerBoxParent {
  display: flex;  justify-content: center;  align-items: center;
}
.centerBox {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc892c;
}
.navButton {
border-style: solid;
border-radius: 10px;
border-width: 2px;
width: 5%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: #cc892c;
}
body {
  /*background-color:#3a7f74; */
  margin: 0px;
  padding: 0px;
}
#rotated180 {
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
transform: rotate(180deg);
border-style: solid;
border-radius: 10px;
border-width: 2px;
width: 5%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: #cc892c;
}
#centerNavButton {
border-style: solid;
border-radius: 10px;
border-width: 2px;
width: 10%;
height: 8%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: #cc892c;
}
  

