

#comic {
border-style: solid;
border-radius: 5px;
border-width: 2px;
width: 50%;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}
a {
  color: black;
}
a:visited {
  color: black;
}
.centerBoxParent {
  display: flex;  justify-content: center;  align-items: center;
}
.centerBox {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.navButton {
border-style: solid;
border-radius: 10px;
border-width: 2px;
width: 5%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}
body {
  background-color:#3a7f74;
}
#rotated180 {
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
transform: rotate(180deg);
border-style: solid;
border-radius: 10px;
border-width: 2px;
width: 5%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}
#centerNavButton {
border-style: solid;
border-radius: 10px;
border-width: 2px;
width: 10%;
height: 8%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}
  

